<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            text-align: center;
            background-color: rgb(0, 0, 255);
            color: #ffffff;
        }

        td,
        th {
            border: 1px solid #868583;
            padding: 12px;
        }

        tr:nth-child(even) {
            background-color: #ececec;
        }
    </style>
</head>

<body>

    <div class="container" id="app">
        <div class="navbar-header">
            <h1>MJU DATA</h1>
        </div>
        <!-- Form -->
        <div class="card">
            <div class="card-body">
                <form action="" class="row g-3 needs-validation" v-on:submit.prevent="value">
                    <!-- Firstname -->
                    <div col-md-4>
                        <label for="first_name" class="form-label">First name :</label>
                        <input v-model="faname" type="text" class="form-control" name="name " placeholder="First name"
                            required>
                    </div>
                    <!-- Lastname -->
                    <div col-md-4>
                        <label for="last_name" class="form-label">Last name :</label>
                        <input v-model="laname" type="text" class="form-control" name="lastname "
                            placeholder="Last name" required>
                    </div>
                    <!-- Stunumber -->
                    <div col-md-4>
                        <label for="stu_number" class="form-label">Student number :</label>
                        <input v-model="stuanum" type="text" class="form-control" name="id " placeholder="ID" required>
                    </div>
                    <!-- Email -->
                    <div col-md-4>
                        <label for="e_mail" class="form-label">Email :</label>
                        <input v-model="emaila" type="text" class="form-control" name="mail " placeholder="@mail"
                            required>
                    </div>
                    <!-- GPA -->
                    <div col-md-4>
                        <label for="g_pa" class="form-label">GPA :</label>
                        <input v-model="gpaa" type="text" class="form-control" name="gpa " placeholder="GPA" required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- DATA table -->
        <div class="card">
            <div class="card-footer">
                <div class="container mt-3">

                    <table>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>ID</th>
                            <th>Email</th>
                            <th>GPA</th>
                            <th>Remove</th>
                        </tr>
                        <tr v-for="(stu, index) in studentList">
                            <td v-if="stu.gpa < 2" style="font-weight: bold; color: red;">{{stu.name}}</td>
                            <td v-else style="font-weight: bold; color: green;">{{stu.name}}</td>
                            <td v-if="stu.gpa < 2" style="font-weight: bold; color: red;">{{stu.lname}}</td>
                            <td v-else style="font-weight: bold; color: green;">{{stu.lname}}</td>
                            <td v-if="stu.gpa < 2" style="font-weight: bold; color: red;">{{stu.id}}</td>
                            <td v-else style="font-weight: bold; color: green;">{{stu.id}}</td>
                            <td v-if="stu.gpa < 2" style="font-weight: bold; color: red;">{{stu.email}}</td>
                            <td v-else style="font-weight: bold; color: green;">{{stu.email}}</td>
                            <td v-if="stu.gpa < 2" style="font-weight: bold; color: red;">{{stu.gpa}}</td>
                            <td v-else style="font-weight: bold; color: green;">{{stu.gpa}}</td>
                            <td><button @click="Delete(index)" class="btn btn-primary">Remove</button></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            studentList: [{
                name: "sirimongkol",
                lname: "tharin",
                id: 6304101364,
                email: "gubeerza09@gmail.com",
                gpa: 3.99

            }]
        },
        methods: {
            value: function () {
                this.studentList.push({
                    name: this.faname,
                    lname: this.laname,
                    id: this.stuanum,
                    email: this.emaila,
                    gpa: this.gpaa
                })
                name: this.faname = ''
                lname: this.laname = ''
                id: this.stuanum = ''
                email: this.emaila = ''
                gpa: this.gpaa = ''
            },
            Delete(index) {
                this.studentList.splice(index, 1)
            }
        },
    })
</script>

</html>